.fight-history-page-container {
    min-height: 100vh;
    text-align: center;
}

.fight-history-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.fight-history-image {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1;
}