.feature-card-header {
    background-color: lightgray;
}

.feature-card-item {
    background-color: rgb(228, 226, 226);
    padding-top: 25px;
    padding-bottom: 25px;
}

.feature-card-champion-image {
    width: 50%;
    max-width: 500px;
    aspect-ratio: 1;
}