.fighter-edit-modal {
    text-align: center;
    background-color: lightgray;
}

.error-text {
    color: red;
}

.fighter-image-buttons {
    margin-bottom: 5px;
    margin-top: 5px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 5px;
}